
<br>
<br>
<!-- <div class="col-lg-12 text-center"><h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
</div> -->
<div class="white">
  <%= image_tag(@post.image.url(:medium)) %>
  <br>
  <%= @post.description %>
</div>
